@media (max-width: 821px) {
    .m_hidden {
        display: none !important;
    }
    .m_flex-column-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .m_flex-row {
        display: flex !important;
    }
    .m_flex-col {
        display: flex !important;
        flex-direction: column;
    }
    .m_justify-center {
        justify-content: center !important;
    }
    .m_items-center {
        align-items: center !important;
    }
    .flex {
        display: block ;
    }
    .m_relative{
        position: relative ;
    }
    .m_absolute {
        position: absolute ;
    }
    .m_fixed{
        position: fixed ;
    }
    .m_top-full {
        top: 100% ;
    }
    .m_top-62px {
        top: 62px ;
    }
    .m_left-0{
        left: 0 ;
    }
    .m_block {
        display: block !important;
    }
    .m_m-0 {
        margin: 0 ;
    }
    .m_m-2 {
        margin: 0.5rem ;
    }
    .m_mb-2 {
        margin-bottom: 0.5rem ;
    }
    .m_p-0 {
        padding: 0 ;
    }
    .m_px-2{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .m_px-3{
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .m_px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .m_px-5{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .m_px-6{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .m_pb-80px {
        padding-bottom: 80px ;
    }
    .m_bg-white{
        background-color: #fff ;
    }
    .m_w-fit {
        width: fit-content;
    }
    .m_w-full {
        width: 100%;
    }
    .m_w-h-120px {
        width: 120px;
        height: 120px;
    }
    .m_h-full {
        height: 100%;
    }
    .m_h-screen {
        height: 82vh;
    }
    .m_max-h-screen {
        max-height: 68vh;
    }
    .m_h-92vh {
        height: 82vh;
    }
    .m_fixed-blr {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .m_inset-0 {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .m_bottom-5 {
        bottom: 1.25rem ;
    }
    .m_w-h-40 {
        width: 40px;
        height: 40px;
    }
    .m_w-h-30 {
        width: 30px;
        height: 30px;
    }
    .m_w-8 {
        width: 2rem ;
    }
    .m_h-130px {
        height: 130px;
    }
    .m_w-115px {
        width: 115px;
    }
    .m_h-180px {
        height: 180px;
    }
    .m_h-8 {
        height: 2rem;
    }
    // Mobile Customization
    .mc_addChatIcon {
        bottom: 70px;
        right: 10px;
    }
    .mc_login {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 1rem;
    }
    * {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .l_hidden {
        display: none !important;
    }
    .shadow_chatBar {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px, rgba(0, 0, 0, 0.22) 0px 0px 6px;
    }
}

